/*2th_chat css*/
table#nzchattable{
width:100%;
border-collapse:collapse;
border:none;
margin:0 auto;
}
#nzchattable a, .nzlist a{
color: #0073e8;
}
table#nzchattable td{
vertical-align:top;
}
#nzchatonline{
width:200px;
}
.nzchatbbcode a:hover{
	border-color:#09C;
	pointer:cursor;
	border-radius:2px;
}
.nzchatbbcode a{
	border: 1px solid transparent;
}
.nzchatpopup{
	cursor:pointer;
	background: #0094ff;
	width: 100px;
	border-radius: 2px;
	text-align: center;
	color: #fff;
	display: inline-block;
}
.nzchatpopuph{
	display:none;
}
.nzchatanno{
border: 1px solid;
background-color: #d9edf7;
border-color: #bcdff1;
color: #31708f;
clear: both;
padding: 8px;
height:16px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.nzchatanno a{
color:#fff;
}
#nzchatbd{
border:#CCC 1px solid;
background:#ebf2f8;
}
#nzchatcontent{
padding: 2px;
overflow-y:scroll;
overflow-x:hidden;
}
.nzblockquote{
padding: 0 8px;
margin-left: 5px;
border-left: 2px solid #c5c1ad;
margin-top: 0;
margin-bottom: 0;
}
.nzblockquote img{
	max-height: 50px !important;
}
#nzchatolcontent{
width:204px;
border:#CCC 1px solid;
background: #eee;
overflow-y:scroll;
}
.nzuserat{
	font-weight: bold;
	cursor: pointer;
	background: #e7edf3;
	color: #667d99;
	border-radius: 4px;
	padding: 2px 5px;
	border: 0 !important;
}
#nzchatmessage{
border: 1px solid rgb(204, 204, 204);
line-height: normal;
border-radius: 2px;
width: 100%;
box-sizing: border-box;
padding: 5px;
}
#n_copyright a{
color:#369;
}
.nzchatavatar{
	height:32px;
	width:32px;
	border: 2px solid rgb(76, 175, 80);
	border-radius: 32px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
div.child {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: .6;
   background: #fff;
} 
#afterme{
width:704px;
}
.nzcq{
	display: none;
	font-size:11px;
	color: #666;
	padding-right: 5px;
}
.nztime{
	font-size:11px;
	color:#666;
}
.nzinnercontent img,#nztouid img{
max-height: 100px;
}
.nzinnercontent img.zoom{
	cursor:pointer;
}
a.nzca{
cursor:pointer;
}
a.nzca:hover{
text-decoration:none;
}
table.nzcallrow{
border:none;
border-collapse:collapse;
padding:0;
margin:0;
width:100%;
}
table.nzcallrow tr,table.nzcallrow td{
border:none;
}
.nzavatart{
width:35px;
padding-right: 2px;
}
.nzavsm{
width:21px;
height:21px;
}
.nzavsm2{
width:21px;
height:21px;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
cursor:pointer;
}
.nzavsm2:hover{
opacity: 0.2;
}
.nzchatpro{
width:150px;background:#FFF;border:1px solid #dddbd3;text-align:center;padding-top:12px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-moz-box-shadow:5px 5px 5px #ccc;-webkit-box-shadow:5px 5px 5px #ccc;box-shadow:5px 5px 5px #ccc
}
#nzchat{
text-align:left;
margin-bottom:8px;
}
tr.nzchatrow td{

}
.nzchatrow {
	background: transparent;
}
#nzchatcpy {
	float:right;
	margin-top:3px;
	margin-right:10px;
	text-align:right;
}
#nzchatcpy > span > a {
	background:none;
	float: unset;
margin: unset;
width: unset;
height: unset;
text-indent: unset;
line-height: unset;
overflow: unset;
}
#nzchatolcontent li{
list-style:none;
}
#nzchatolcontent img.nzavsm{
margin-right:3px;
}
#nzchat a.nzbtn{
padding: 2px 3px;
display:inline-block;
border: 1px solid #999;
background: #E5E5E5 url(static/image/common/pn.png) repeat-x 0 0;
-moz-box-shadow: 0 1px 0 #E5E5E5;
-webkit-box-shadow: 0 1px 0 #E5E5E5;
box-shadow: 0 1px 0 #E5E5E5;
cursor: pointer;
font-size: 13px;
color: #333;
}
#nzchat a.nzbtn:hover{ text-decoration:none;color:#666;}
#nzchat a.nzbtn:active{ background:#CCC;color:#333;}
.nzcontentt {
	padding: 2px;
}
.nzinnercontent{
position: relative;
width: auto;
height: auto;
padding: 0px;
background: #FFF;
padding: 3px 5px;
border: 1px solid #00ABFF;
border-radius: 5px;
display: inline-flex;
word-break: break-all;
}
.nznametop{
	font-size: 20px;
	display:block;
	font-weight: bold;
	padding: .1em .5em;
	border-radius: 4px;
	background: #0073e8;
	border-radius: 4px;
	text-align: center;
}
.nznametop2{
	margin-left:2px;
	font-size: 12px;
	display: inline-block;
	font-weight: bold;
	padding: .1em .5em;
	border-radius: 4px;
	background: #0073e8;
	border-radius: 4px;
	text-align: center;
	margin-top:6px;
}
.nznametop span, .nznametop2 span{
	color: #fff;
}
.nzlist{
	overflow:hidden;
	width: 100%;
}
.nzlist div:hover{
	background: #dfdfdf;
}
.nzlist td{
	padding: 5px 30px;
}
.nzlist tr:last-child {
	border-bottom:none;
}
.nzlist tr {
    border-bottom: 1px solid #ddd;
}
.nzlist2{
	overflow:hidden;
	width: 100%;
}
.nzlist2 div:hover{
	background: #dfdfdf;
}
.nzlist2 td{
	padding: 2px;
}
.nzlist2 tr {
    border-bottom: 1px solid #ddd;
}
.nzlist tr:hover, .nzlist2 tr:hover{
	background: #dfdfdf;
}
#nzosicon{
vertical-align: bottom;
}
#nzstatus{
color:#999;
}
