<h3 class="flb" id="fctrl_th_chat_popup" style="cursor: move;border-bottom: 1px #bcdff1 solid;background: #d9edf7;"><em id="returnmessage_th_chat_popup">กล่องดูข้อมูลภายนอก</em><span><a title="{lang close}" onclick="hideWindow('th_chat_popup', 0, 0);" class="flbc" href="javascript:;">{lang close}</a></span></h3>
<div style="padding: 10px;overflow:hidden;background: #eaeaea;" id="th_chat_popup_box">
<script type="text/javascript">
nzchatobj(function() {
  nzchatobj('#th_chat_popup_box').html(nzChatPopupContent);
});
</script>
</div>