<h3 class="flb" id="fctrl_th_chat" style="cursor: move;border-bottom: 1px #bcdff1 solid;background: #d9edf7;"><em id="returnmessage_th_chat">ข้อมูลสมาชิก</em><span><a title="{lang close}" onclick="hideWindow('th_chat_profile', 0, 1);" class="flbc" href="javascript:;">{lang close}</a></span></h3>
<div style="overflow:hidden;" id="th_chat_profile_box">
<center>
<table style="font-size: 14px;" class="nzlist">
<tr>
<td class="nzavatart" style="padding: 10px 0 10px 20px;"><a href="home.php?mod=space&uid={$uid}" target="_blank"><img src="{$avatar}" class="nzchatavatar{$uid}" style="width:100px;height:100px;border-radius:50%;" onError="this.src='uc_server/images/noavatar_small.gif';" /></td>
<td style="text-align: center;padding: 10px 20px 10px 10px;"><a href="home.php?mod=space&uid={$uid}" {$groupcolor}class="nznametop" target="_blank"><span>{$r[username]}</span></a><a href="home.php?mod=spacecp&amp;ac=usergroup&gid={$r[groupid]}" target="_blank">{$r[grouptitle]}</a><br>{$banuntil}</td>
</tr>
{$mlist}
</table>
</center>
</div>